@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="card pb-2 m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Customer</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Customer Settings</h6>
        <p class="card-text">Customer can be deleted, updated and deleted.</p>
        <a asp-action="CustomerIndex" class="card-link">Enter</a>
      </div>
    </div>
    <div class="card pb-2 m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Account</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Account Settings</h6>
        <p class="card-text">Account can be deleted, updated and deleted.</p>
        <a asp-action="AccountIndex" class="card-link">Enter</a>
      </div>
    </div>
    <div class="card pb-2 m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Transaction</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Transaction Settings</h6>
        <p class="card-text">Transaction can be deleted, updated and deleted.</p>
        <a asp-action="TransactionIndex" class="card-link">Enter</a>
      </div>
    </div>
    <div class="card pb-2 m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">User</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">User Settings</h6>
        <p class="card-text">User can be deleted, updated and deleted.</p>
        <a asp-action="UserIndex" class="card-link">Enter</a>
      </div>
    </div>
</div>

